.breadcrumb-holder{
  background-color: #e9ecef;
  margin-top: 50px;
}

.breadcrumb {
    padding:10px 0;
    margin:0
}

.about-us {
    padding:70px 0
}

.about-us h1 {
    font-family:'Raleway', sans-serif;
    letter-spacing:-3px;
    font-size:62px
}

.about-us hr {
    width:70%
}

.about-features {
    padding:0 0 70px
}

.about-features h3 {
    font-family:'Raleway', sans-serif;
    letter-spacing:-1px
}

.about-features p {
    margin-bottom:20px
}
